<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Tiedot Control Panel</title>
	
	<link href="/{{.root}}/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="/{{.root}}/css/main.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Tiedot</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://github.com/HouzuoGuo/tiedot/wiki" target="_blank">Help</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div id="query-box" class="query-box row">
			<div class="col-sm-12">
				<div id="query-box-editor">&nbsp;</div>
				<p class="pull-right">
					<button type="button" class="btn btn-danger btn-lg cancel">Close</button>
					<button type="button" class="btn btn-success btn-lg query">Execute</button>
				</p>
				<a href="https://github.com/HouzuoGuo/tiedot/wiki/Query-processor-and-index" target="_blank">Query Help</a>
			</div>
		</div>
		<div class="row">
			<div id="main" class="col-sm-12 main">
				<div id="app">&nbsp;</div>
			</div>
		</div>
	</div>
	<div id="modal" class="modal fade" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
		    <div id="modal-content" class="modal-content">&nbsp;</div>
    	</div>
	</div>

	{{.templates}}
	
	<script src="/{{.root}}/js/lib/jquery-2.1.1.min.js"></script>
	<script src="/{{.root}}/js/lib/bootstrap.min.js"></script>
	<script src="/{{.root}}/js/lib/underscore-min.js"></script>
	<script src="/{{.root}}/js/lib/backbone-min.js"></script>
	<script src="/{{.root}}/js/lib/numeral.js"></script>
	<script src="/{{.root}}/js/lib/ace/ace.js"></script>

	<script type="text/javascript">var App = { root: {{.root}} };</script>
	<script src="/{{.root}}/js/models/collection.js"></script>
	<script src="/{{.root}}/js/models/collectionList.js"></script>
	<script src="/{{.root}}/js/models/document.js"></script>
	<script src="/{{.root}}/js/models/documentList.js"></script>
	<script src="/{{.root}}/js/models/index.js"></script>
	<script src="/{{.root}}/js/models/indexList.js"></script>
	<script src="/{{.root}}/js/views/collectionListView.js"></script>
	<script src="/{{.root}}/js/views/collectionView.js"></script>
	<script src="/{{.root}}/js/views/documentView.js"></script>
	<script src="/{{.root}}/js/views/queryResultView.js"></script>
	<script src="/{{.root}}/js/views/queryBoxView.js"></script>
	<script src="/{{.root}}/js/views/indexesView.js"></script>
	<script src="/{{.root}}/js/router.js"></script>
	<script src="/{{.root}}/js/modal.js"></script>
	<script src="/{{.root}}/js/app.js"></script>
</body>
</html>