/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
.navbar-form span {
	color: #bbb;
	margin: 0 6px 6px 0;
	display: inline-block;
}

/*
 * Main content
 */
.main {
	margin-top: 20px;
}
#app {
	width: 100%;
}
#json {
	font-size: 16px;
}